{% extends "site_spotify/main_template.html" %}

{% block body %}

    <div class="container">
        <h2>Stats!</h2>

    </div>
    <hr/>
    <div class="row">
        <div class="col-6">
            <div class="card mb-2">
                <h6 class="card-header">Most Listened to Genres</h6>
                <div class="card-body">
                    {% for genre in most_listened_genres %}
                    <p>{{ genre }}</p>
                    {% empty %}
                    <p>Connect to see stats!</p>
                    {% endfor %}      
                </div>
            </div>
            <div class="card mb-2">
                <h6 class="card-header">Top Artists</h6>
                <div class="card-body">
                    {% for artist in most_freq_artists %}
                    <p>{{ artist }}</p>
                    {% endfor %}    
                </div>
            </div>

        </div>

        <div class="col-6">
            <div class="card mb-2">
                <h6 class="card-header">Recommended Tracks</h6>
                <div class="card-body">
                    {% for track in recommended_tracks %}
                    <p>{{ track }}</p>
                    {% endfor %}   
                </div>
            </div>
            <div class="card mb-2">
                <h6 class="card-header">Average Release Year</h6>
                <div class="card-body">
                    <p>{{ avg_year_release }}</p>
                </div>
            </div>
            

            <!--<a href="{% url 'site_spotify:forum' %}">Go Back</a>-->
        </div>

    </div>
    


{% endblock %}