<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Success or Failure</title>
        <body>
            {% if login %}
                <h1>Success!</h1>
                <p>Frontend -> SQL -> Rabbit -> MySql -> Rabbit -> Frontend</p>
            {% else %}
                <h1>Failure!</h1> 
                <p>Something didn't work dawg</p>
            {% endif %}
            <ul>
                {% for data in datas %}
                    <li>{{ data }}</li>
                {% empty %}
                    <li>Nothing to Display.</li>
                {% endfor %}
            </ul>
            <a href="{% url 'webtest:index' %}">Go Back</a>
        </body>
    </head>
</html>